@import './variables.scss';
@import './antd.scss';

body {
	// background-image: url('/assets/img/bg.png') !important;
}

input[readonly] {
	background: #eee;
}

.aside-loggedin .avatar {
	background: #eee;
	padding: 2px;
	border-radius: 50%;
}

.table th {
	background: #eee;
}

.modal-header,
.ant-modal-header {
	background: $primary !important;
	padding: 16px 26px !important;
}

.modal-title,
.modal .modal-dialog .modal-content .modal-header .close span,
.ant-modal-title,
.ant-modal .ant-modal-close-x {
	color: #fff !important;
}

.form-control,
.input-group-append .input-group-text,
.input-group-prepend .input-group-text {
	padding: 0.64rem !important;
	// border-radius: 50px !important;
}

select.form-control:not([size]):not([multiple]) {
	color: #495057 !important;
}

.jumbotron {
	padding: 1rem 1rem !important;
	border-radius: 0px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	top: 7px !important;
}

.select2-container--default .select2-selection--single {
	padding: 0.74rem !important;
	// border-radius: 50px !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
	padding-left: 0px;
}

.btn-sm {
	padding: 0.65rem 0.81rem;
}

.card .card-description {
	margin-bottom: 1.25rem;
}

.card-body.heading {
	padding: 1rem 1.687rem !important;
}

.card-body.heading .float-left {
	margin-top: 10px;
}

textarea.form-control {
	border-radius: 0px !important;
}

.modal-md {
	max-width: 60%;
}

th,
.btn,
label,
.ant-modal-title,
.nav-link,
.card-body.heading .float-left {
	text-transform: capitalize;
}

/*  */
/*  */
:focus {
	outline: 0px !important;
}

label.required:after {
	content: ' *' !important;
	color: red !important;
}

.adf:before {
	content: '+ ' !important;
	color: blue !important;
}

select {
	cursor: pointer !important;
}

label {
	*cursor: text !important;
}

.pointer {
	cursor: pointer !important;
}

.not-allowed {
	cursor: not-allowed;
}

input:disabled,
input[readonly],
select:disabled,
select[readonly],
textarea:disabled,
textarea[readonly] {
	cursor: not-allowed !important;
}

b,
strong {
	font-weight: bold !important;
}

.col-break {
	float: none !important;
	margin: 0 auto !important;
}

.block {
	display: block !important;
}

.bold {
	font-weight: bold !important;
}

.hide {
	display: none !important;
}

.text-ellipsis {
	display: block !important;
	overflow: hidden !important;
	text-overflow: ellipsis !important;
	white-space: nowrap !important;
}

/*  */
/*  */
.table.table-hover tbody tr:hover,
.jsgrid .table-hover.jsgrid-table tbody tr:hover {
	background: rgba($primary, 0.05);
}


.mediacard {
	transition: all 0.3s ease;

	&:hover {
		transform: scale(1.04);
	}
}

.nav-aside {
	font-size: 14px;
}

.list-group-item.comment {
	padding: 10px 0;
	border: 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.125);
	margin-bottom: 1px;
}

.list-group-item.comment:last-child {
	border-bottom: 0px;
}

.list-group-item.media {
	cursor: pointer;

	&:hover {
		background-color: #f4f5f8;
	}
}

.list-group-item.active {
	background-color: rgba($primary, 0.1) !important;
	border-color: rgba($primary, 0.1) !important;
	color: rgba(0, 0, 0, 0.65);
}

#newsCard {
	.news-image {
		width: 60rem;
		height: 10rem;
		background-size: cover;
		background-position: center;
	}

	&:hover {
		background-color: #f4f5f8;
	}

	.list-group-item {
		background-color: transparent;
	}
}

#news___details {
	.news-image {
		width: 100%;
		height: 20rem;
		background-size: cover;
		background-position: center;
	}
}

.ant-comment {

	.ant-comment-inner,
	.ant-comment-actions {
		padding: 0px;
		margin: 0px;
	}

	.ant-comment-inner {
		margin-bottom: 1.5rem;
	}
}

@media (min-width: 576px) {
	.card-columns {
		column-count: 4;
	}
}

.header___bottom {
	padding: 20px;
	height: 250px;
	background-color: rgba(#042893, 0.6);
	background-repeat: no-repeat !important;
	background-position: center !important;
	background-size: cover !important;

	h1 {
		font-weight: 600;
	}

	h1,
	h3,
	p {
		color: #fff;
	}
}

.academy___selector {
	.panel {
		border: 1px solid $primary;
		margin-top: 5px;
	}

	.panel-heading {
		background-color: $primary;
		border-color: $primary;
		padding: 10px 15px;
		text-align: center;

		.panel-title {
			margin: 0px;
			font-weight: 400;
			font-size: 16px;

			a {
				color: #fff;
			}
		}
	}

	.panel-body {
		padding: 15px;
	}
}

#academy__sidebar {
	.menu {
		a {
			padding: 5px;
			color: #1c273c;
			margin-bottom: 8px;
			display: block;

			&:hover, &.active {
				background: rgba($primary, 0.05);
			}
		}
	}
}